@{
    ViewData["Title"] = "Contact Us";
     Layout = "_Layout2";
}

    <div class="breadcrumb"> <a href="index.html">Home</a> » <a href="#">Contact Us</a> </div>
    <h1><span class="h1-top">Contact Us</span></h1>
    <div class="information_content">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse. 
      </p>
    </div>
    <div class="information_content">
      <form action="./contact_files/contact.html" method="post" enctype="multipart/form-data">
        <h2>Our Location</h2>
        <div class="map"> 
          <iframe width="432" height="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Đại+H%E1%BB%8Dc+Hoa+Sen-+Quang+Trung+2/10.8568774,106.6242322,18z/data=!4m6!3m5!1s0x31752b546241428b:0xe38e532dac800ee2!8m2!3d10.8568774!4d106.6255196!16s%2Fg%2F11n04gvg31?entry=ttu"></iframe>
        </div>
        <div class="contact-info">
          <ul>
            <li class="item_1">John Doe Street 1<br>
              12345 Berlin<br>
              Germany</li>
            <li class="item_2">030 - 123456789</li>
            <li class="item_3">030 - 123456710</li>
          </ul>
        </div>
        <div class="social-info"> <span>Find us on</span>
          <ul>
            <li><a class="twitter" href="#" title="Twitter">&nbsp;</a></li>
            <li><a class="facebook" href="#" title="Facebook">&nbsp;</a></li>
            <li><a class="youtube" href="#" title="Youtube">&nbsp;</a></li>
            <li><a class="vimeo" href="#" title="Vimeo">&nbsp;</a></li>
           </ul>
        </div>
        <h2>Contact Form</h2>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
          <div class="one-two"> <span class="small">First Name:</span><br>
            <input type="text" name="name" value="" style="width:314px">
          </div>
          <div class="two-two"> <span class="small">E-Mail Address:</span><br>
            <input type="text" name="email" value="" style="width:314px">
          </div>
          <div> <span class="small">Enquiry:</span><br>
            <textarea name="enquiry" cols="40" rows="10" style="width: 98%;"></textarea>
            </div>
          <div class="buttons">
            <div class="right">
              <input type="submit" value="Continue" class="button">
            </div>
          </div>
        </div>
      </form>
    </div>