@using WebChild.Data
@model List<WebChild.Data.Product>

@{
    ViewData["Title"] = "Index";

}
<div id="content">
    <div id="slide-wrapper">
        <ul id="slider">
            <li>
                <div class="border_on_img"></div>
                <div class="content_slider">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <img src="~/image/ex/s1.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
            </li>
            <li>
                <div class="border_on_img"></div>
                <div class="content_slider">
                    <p>sed diam nonummy</p>
                </div>
                <img src="~/image/ex/s2.jpg" alt="sed diam nonummy">
            </li>
            <li>
                <div class="border_on_img"></div>
                <div class="content_slider">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <img src="~/image/ex/s3.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
            </li>
        </ul>
    </div>
    <div class="banner">
        <div><a href="specials.html"><img src="~/image/small-banner-green-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"></a> </div>
    </div>
    <div class="banner">
        <div><img src="~/image/small-banner-blue-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"> </div>
    </div>
    <div class="box">
        <div>
            <h1 class="title_module"><span>Latest Products</span></h1>
            <div class="box-content">
                @foreach (var product in ViewBag.Products as List<WebChild.Data.Product>)
                {
                    <partial name="_ProductPartial1" for="@product"/>
                }
                <div class="box-product last-item">
                    <a class="image" href="product.html" title="View more"> <img src="~/image/ex/p4-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Locomotive in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$1,177.00</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="box">
        <div>
            <h1 class="title_module"><span>Special Products</span></h1>
            <div class="box-content">
                @foreach (var otherProduct in ViewBag.OtherProducts as List<WebChild.Data.Product>)
                {
                    <partial name="_ProductPartial1" for="@otherProduct"/>
                }
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="box">
        <div>
            <h1 class="title_module"><span>Featured Products</span></h1>
            <div class="box-content">
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="~/image/ex/p3-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Brown jacket for boys and girls</a></h3>
                    <p class="wrap_price"> <span class="price">$589.50</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="~/image/ex/p4-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Funny toy in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$120.68</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="~/image/ex/p5-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Brown shoes for boys</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product last-item">
                    <a class="image" href="product.html" title="View more"> <img src="~/image/ex/p6-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Locomotive in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$236.99</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="carousel">
        <ul class=" jcarousel-skin-tfc">
            <li><a href="brands.html"><img src="~/image/ex/b1.jpg" alt="" title=""></a></li>
            <li><a href="brands.html"><img src="~/image/ex/b2.jpg" alt="" title=""></a></li>
            <li><a href="brands.html"><img src="~/image/ex/b3.jpg" alt="" title=""></a></li>
            <li><a href="brands.html"><img src="~/image/ex/b4.jpg" alt="" title=""></a></li>
            <li><a href="brands.html"><img src="~/image/ex/b5.jpg" alt="" title=""></a></li>
            <li><a href="brands.html"><img src="~/image/ex/b6.jpg" alt="" title=""></a></li>
        </ul>
    </div>
</div>