
@model List<WebChild.Data.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
<tbody>
</table>
@if (@Model!=null)
{
    @for (var i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model[i].ProductName</td>
            <td>@Model[i].ProductPrice</td>
            <td>
                    <a asp-controller="Product" asp-action="RemoveFromCart" asp-route-id="@Model[i].Id">remove</a>
            </td>
        </tr>
    }
    <div>
        <h4>Total Price: $@Model.Sum(p => p.ProductPrice)</h4>
        <!-- Add checkout button or other relevant information here -->
    </div>
}
else
{
    <tr>Your shopping cart is empty.</tr>
}

