@using Microsoft.AspNetCore.Identity
@using WebChild.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p id="welcome">
        Welcome
        <a id="manage" class="" href="#" title="Manage">@UserManager.GetUserName(User)! </a>
        or
        <a id="" class=""  asp-controller="User" asp-action="Logout"  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
    </p>
    
}
else
{
    <p id ="welcome"> Welcome <a class="" id="login" asp-controller="User" asp-action="Login">Login</a> or  <a class="" id="register" asp-controller="User" asp-action="Register">create an account</a></p>
    
}

