/*
Credit: http://www.templatemo.com
*/

body[b-nzrz5outuj] {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #333;
  background: #e1d1d6 url(images/templatemo_body.png) repeat-x top;
}

a:link[b-nzrz5outuj], a:visited[b-nzrz5outuj] { color: #dd0034; text-decoration: none; font-weight: normal; }
a:active[b-nzrz5outuj], a:hover[b-nzrz5outuj] { color: #990099; text-decoration: underline; }

p[b-nzrz5outuj] { margin: 0px; padding: 0px; }

img[b-nzrz5outuj] { margin: 0px; padding: 0px; border: none; }

.cleaner[b-nzrz5outuj] { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10[b-nzrz5outuj] { clear: both; width:100%; height: 10px; }
.cleaner_h20[b-nzrz5outuj] { clear: both; width:100%; height: 20px; }
.cleaner_h30[b-nzrz5outuj] { clear: both; width:100%; height: 30px; }
.cleaner_h40[b-nzrz5outuj] { clear: both; width:100%; height: 40px; }
.cleaner_h50[b-nzrz5outuj] { clear: both; width:100%; height: 50px; }
.cleaner_h60[b-nzrz5outuj] { clear: both; width:100%; height: 60px; }

.margin_r35[b-nzrz5outuj] { margin-right: 35px; }

.button_01 a[b-nzrz5outuj] {
  display: block;
  width: 102px;
  height: 22px;
  padding: 5px 0;
  color: #a89ba5;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background: url(images/templatemo_button.png) no-repeat;
}

.button_01 a:hover[b-nzrz5outuj] {
  color: #ffffff;
  background: url(images/templatemo_button_hover.png) no-repeat;
}

h2[b-nzrz5outuj] {
  margin: 0 0 10px 0;
  padding: 10px 0 15px 0;
  font-size: 24px;
  font-weight: normal;
  color: #271a23;
  background: url(images/templatemo_title_bg.jpg) bottom left no-repeat;
}

h3[b-nzrz5outuj] {
  margin: 0	;
  padding: 2px 0;
  font-size: 18px;
  font-weight: normal;
  color: #271a23;
}

#templatemo_wrapper[b-nzrz5outuj] {
  width: 990px;
  margin: 0 auto;
}

/* menu */

#templatemo_menu[b-nzrz5outuj] {
  clear: both;
  width: 970px;
  height: 90px;
  padding: 0 10px;
}

#templatemo_menu ul[b-nzrz5outuj] {
  margin: 0;
  padding: 0;
  list-style: none;
}

#templatemo_menu ul li[b-nzrz5outuj] {
  padding: 0;
  margin: 0;
  display: inline;
}

#templatemo_menu ul li a[b-nzrz5outuj] {
  float: left;
  display: block;
  height: 70px;
  width: 120px;
  padding: 20px 0 0 20px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  outline: none;
  background: url(images/templatemo_menu_divider.png) center left no-repeat;
}

#templatemo_menu ul li a span[b-nzrz5outuj] {
  display: block;
  color: #b56076;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}


#templatemo_menu li a:hover span[b-nzrz5outuj], #templatemo_menu li .current span[b-nzrz5outuj] {
  color: #ffffff;
}

/* end of menu */

/* header */

#templatemo_header_bar[b-nzrz5outuj] {
  clear: both;
  width: 970px;
  height: 115px;
  padding: 0 10px;
  overflow: hidden;
  background: url(images/templatemo_header_right.png) right bottom no-repeat;
}

#templatemo_header_bar  #header[b-nzrz5outuj] {
  position: relative;
  float: left;
  padding: 0 30px;
  margin-top: 20px;
  overflow: hidden;
  background: url(images/templatemo_site_title_left.png) no-repeat top left;
}

#templatemo_header_bar  #header .right[b-nzrz5outuj] {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 83px;
  background: url(images/templatemo_site_title_right.png);
}

#templatemo_header_bar  #header h1[b-nzrz5outuj] {
  margin: 0;
  padding: 5px 0;
}

#templatemo_header_bar  #header h1 a[b-nzrz5outuj] {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#templatemo_header_bar  #header h1 a:hover[b-nzrz5outuj] {
  font-weight: bold;
  text-decoration: none;
}

#templatemo_header_bar  #header h1 a span[b-nzrz5outuj] {
  display: block;
  font-size: 12px;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 2px;
}


#templatemo_header_bar #search_box[b-nzrz5outuj] {
  float: right;
  width: 280px;
  height: 29px;
  padding: 1px;
  margin-top: 70px;
  background: url(images/templatemo_search_box.png);
}

#search_box form[b-nzrz5outuj] {
  width: 280px;
  height: 29px;
  margin: 0;
  padding: 0;
}

#searchfield[b-nzrz5outuj] {
  height: 19px;
  width: 200px;
  padding: 5px 5px 5px 5px;
  margin-right: 0px;
  color: #988392;
  font-size: 12px;
  font-variant: normal;
  line-height: normal;
  background: none;
  border: none;
}

#searchbutton[b-nzrz5outuj] {
  height: 29px;
  width: 60px;
  padding: 0 0 10px 0;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
  white-space: pre;
  color: #ffffff;
  background: none;
  border: none;
}

/* end of header */

/* sidebar */

#sidebar[b-nzrz5outuj] {
  float: left;
  position: absolute;
  width:  220px;
  margin: 13px 0;
  padding: 15px 22px 15px 24px;
  background: url(images/templatemo_sidebar_middle.png) repeat-y;
}

#sidebar .sidebar_top[b-nzrz5outuj] {
  position: absolute;
  width: 266px;
  height: 13px;
  top: -13px;
  left: 0;
  background: url(images/templatemo_sidebar_top.png) no-repeat;
}

#sidebar .sidebar_bottom[b-nzrz5outuj] {
  position: absolute;
  width: 266px;
  height: 13px;
  bottom: -13px;
  left: 0;
  background: url(images/templatemo_sidebar_bottom.png) no-repeat;
}

#sidebar .sidebar_section[b-nzrz5outuj] {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #666;
}

.sidebar_section h2[b-nzrz5outuj] {
  font-size: 24px;
  margin-bottom: 0px;
}

.sidebar_section form[b-nzrz5outuj] {
  width: 210px;
  margin: 0;
  padding: 0;
}

.sidebar_section form label[b-nzrz5outuj] {
  display: block;
  margin-bottom: 5px;
}

.input_field[b-nzrz5outuj] {
  height: 18px;
  width: 198px;
  padding: 5px 5px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 12px;
  font-variant: normal;
  line-height: normal;
}

#submit_btn[b-nzrz5outuj] {
  float: right;
  height: 32px;
  width: 102px;
  margin: 0px;
  padding: 3px 0 10px 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  white-space: pre;
  color: #a89ba5;
  background: url(images/templatemo_button.png) no-repeat;
  border: none;
  outline: none;
}

#submit_btn:hover[b-nzrz5outuj] {
  color: #ffffff;
  background: url(images/templatemo_button_hover.png) no-repeat;
}

#sidebar .sidebar_section .categories_list[b-nzrz5outuj] {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories_list li[b-nzrz5outuj] {
  padding: 0;
  margin: 0;
}

.categories_list li a[b-nzrz5outuj] {
  display: block;
  color: #201f1c;
  padding: 5px 0 5px 20px;
  background: url(images/templatemo_list.png) center left no-repeat;
}
.categories_list li a:hover[b-nzrz5outuj] {
  color: #dd0034;
  text-decoration: none;
}

.sidebar_section .image_wrapper[b-nzrz5outuj] {
  border: 1px solid #c0afbb;
  padding: 9px;
  margin-bottom: 10px;
}

.sidebar_section .discount[b-nzrz5outuj] {
  margin: 5px 0 0 0;
  font-weight: bold;
}

.sidebar_section .discount span[b-nzrz5outuj] {
  font-size: 20px;
  color: #C00;
}

.sidebar_section .discount a[b-nzrz5outuj] {
  font-weight: bold;
  color: #000;
}

/* end of sidebar */

/* content */

#templatmeo_content[b-nzrz5outuj] {
  float: right;
  width: 670px;
  background: url(images/templatemo_slider_tr.png) top right no-repeat;
}

#templatmeo_content #latest_product_gallery[b-nzrz5outuj] {
  width: 670px;
  height: 192px;
  padding: 30px 0;
  margin-bottom: 30px;
}

#latest_product_gallery h2[b-nzrz5outuj] {
  color: #ffffff;
  font-size: 28px;
}

#templatmeo_content p[b-nzrz5outuj] {
  margin-bottom: 10px;
}

#templatmeo_content .content_section[b-nzrz5outuj] {
  clear: both;
  width: 670px;
  border-bottom: 1px dotted #666;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product_box[b-nzrz5outuj] {
  float: left;
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #666;
  margin-bottom: 20px;
}

#templatemo_content .product_box p[b-nzrz5outuj] {
  padding: 0;
  margin: 0 0 5px 0;
}

#templatemo_content .product_box a[b-nzrz5outuj] {
  color: #000000;
  font-weight: bold;
}

.price[b-nzrz5outuj] {
  color: #7c0d41;
  font-size: 14px;
  font-weight: bold;
}

.product_box h3[b-nzrz5outuj] {
  background: #2e202a;
  padding: 3px 10px;
  margin: 10px 0;
  color: #aea68c;
  font-size: 12px;
}

.product_box .image_wrapper[b-nzrz5outuj] {
  padding: 4px;
  border: 1px solid #2e202a;
  margin-bottom: 10px;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper[b-nzrz5outuj] {
  clear: both;
  width: 100%;
  background: #5e4958 url(images/templatemo_footer.png) top repeat-x;
}

#templatemo_footer[b-nzrz5outuj] {
  width: 970px;
  padding: 30px 10px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

#templatemo_footer a[b-nzrz5outuj] {
  color: #ffffff;
}

#templatemo_footer .footer_menu[b-nzrz5outuj] {
  margin: 0 0 10px 0;
  padding: 0px;
  list-style: none;
}

.footer_menu li[b-nzrz5outuj] {
  margin: 0px;
  padding: 0 20px;
  display: inline;
  border-right: 1px solid #aea68c;
}

.footer_menu li a[b-nzrz5outuj] {
  color: #ffffff;
}

.footer_menu .last_menu[b-nzrz5outuj] {
  border: none;
}
/* end of footer */