
@{
    ViewData["Title"] = "Log out";
    Layout = "_Layout2";
}

<div>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form  class="form-inline" asp-action="Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button style="color: #f5a200" type="submit" class="btn btn-link" >Nhấp vào để đăng xuất</button>
            </form>
        }
        else
        {
            <h2 style="margin-top: 60px;">Bạn đã đăng xuất thành công.</h2>
        }
    }
</div>
